
<div id="footer" class="clearfix">
<p class="alignright">
  <a href="#home" class="top-link">Back to Top</a>
</p>

<p>
	&copy; 2009 {{ usersetttings.name }}  &middot; Proudly powered by  <a href="http://wordpress.org/" title="Blogsoftware by Wordpress">WordPress</a>
	<span class="amp">&amp;</span>
  <a href="http://cordobo.com/green-park-2/" title="Cordobo Green Park 2 Beta 4">Green Park 2</a>
  by  <a href="http://cordobo.com/" title="Webdesign by Cordobo">Cordobo</a>.
</p>

<p class="signet">
  Valid XHTML 1.0 Transitional | Valid CSS 3  <br /><br />
	<img src="/site_media/themes/cordobo-green-park-2/img/logo-cgp2.png" alt="Cordobo Green Park 2 logo" title="Cordobo Green Park 2" width="75" height="12" />
</p>

</div>




</body>
