	<div id="sidebar" role="complementary">
		<ul>
						<li>
				<form role="search" method="get" id="searchform" action="/" >
	<div><label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="" name="s" id="s" />
	<input type="submit" id="searchsubmit" value="Search" />
	</div>
	</form>			</li>

			<!-- Author information is disabled per default. Uncomment and fill in your details if you want to use it.
			<li><h2>Author</h2>
			<p>A little something about you, the author. Nothing lengthy, just an overview.</p>
			</li>
			-->

					</ul>
		<ul role="navigation">
			<li class="pagenav"><h2>Pages</h2><ul><li class="page_item page-item-2"><a href="/?page_id=2" title="About">About</a></li>
</ul></li>
			<li><h2>Archives</h2>
				<ul>
					<li><a href='/?m=200908' title='August 2009'>August 2009</a></li>
				</ul>
			</li>

			<li class="categories"><h2>Categories</h2><ul>	<li class="cat-item cat-item-1"><a href="/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a> (1)
</li>
</ul></li>		</ul>
		<ul>
							<li id="linkcat-2" class="linkcat"><h2>Blogroll</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://wordpress.org/development/">Development Blog</a></li>
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
<li><a href="http://wordpress.org/extend/ideas/">Suggest Ideas</a></li>
<li><a href="http://wordpress.org/support/">Support Forum</a></li>
<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>

	</ul>
</li>

				<li><h2>Meta</h2>
				<ul>
					<li><a href="/wp-admin/">Site Admin</a></li>					<li><a href="/wp-login.php?action=logout&amp;_wpnonce=70ecc003ff">Log out</a></li>
					<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
					<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
					<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress</a></li>
									</ul>
				</li>
			
					</ul>
	</div>
