<div id="sidebar">
	<ul class="sb-list clearfix">



<li>
	<ul class="sb-tools">
		<li class="rss-icon">
			<a href="http://mytools/wordpress/?feed=rss2" title="Subscribe to my feed - You'll be happy!">
				<span>Subscribe</span>
				Subscribe to my blogs feed			</a>
		</li>
	</ul>
</li>





<li id="about" class="clearfix">
  <div class="sb-title"></div>
  <ul>
  	<li>
  				</li>
	</ul>
</li>



	
</ul>

<ul class="group">
  
  <li class="pagenav"><div class="sb-title">Pages</div><ul><li class="page_item page-item-2"><a href="http://mytools/wordpress/?page_id=2" title="About">About</a></li>
</ul></li>  
    	<li class="archives">
      <div class="sb-title">Archives</div>
  		<ul>
  		  	<li><a href='http://mytools/wordpress/?m=200908' title='August 2009'>August 2009</a></li>
  		</ul>
  	</li>
    
      <li class="categories"><div class="sb-title">Categories</div><ul>	<li class="cat-item cat-item-1"><a href="http://mytools/wordpress/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a> (3)
</li>
</ul></li>  
</ul>


<ul class="group">

      <li id="linkcat-2" class="linkcat"><div class="sb-title">Blogroll</div>
	<ul class='xoxo blogroll'>
<li><a href="http://wordpress.org/development/">Development Blog</a></li>
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
<li><a href="http://wordpress.org/extend/ideas/">Suggest Ideas</a></li>
<li><a href="http://wordpress.org/support/">Support Forum</a></li>
<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>

	</ul>
</li>
    
    	<li id="meta">
      <div class="sb-title">Meta</div>
    	<ul>
    		    		<li><a href="http://mytools/wordpress/wp-login.php">Log in</a></li>
    		    	</ul>
  	</li>
  
</ul>

</div> <!-- #sidebar --></div> <!-- #main -->
