<meta name="robots" content="index,follow" />
<link rel="alternate" type="application/rss+xml" title="{{ usersettings.name }}RSS Feed" href="http://mytools/wordpress/?feed=rss2" />
<link rel="alternate" type="application/atom+xml" title="{{ usersettings.name }}Atom Feed" href="http://mytools/wordpress/?feed=atom" />
<link rel="pingback" href="http://mytools/wordpress/xmlrpc.php" />
<link rel="shortcut icon" href="/site_media/themes/cordobo-green-park-2/favicon.ico" type="image/x-icon" />


<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://mytools/wordpress/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://mytools/wordpress/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='{{ usersettings.name }}' href='http://mytools/wordpress' />
